*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B9E0DF;
}
#container{
    display:flex;  
    
}
#left{
    width:55vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}
.hide{
    display: none !important;
}


header{
    font-family: 'Mulish', sans-serif;


    font-size: 3.62vw;
    
    height: 25vh;
    width: 100%;
    
    padding-top: 70px;
    padding-left: 143px;

}
#logo img{
    width: 7.76vw;

    margin-right: 27px;
}
#logo{
    display: flex;
    align-items: center;
}
#left-mid{
    font-family: 'Mukta', sans-serif;
    
    font-size: 6.98vw;
    line-height: 6.71vw;

    margin-top: 70px;
    margin-left: 120px;
}
#left-mid span{

    font-size: 9.31vw;
    line-height: 8.53vw;

}



footer{
    display: flex;
    margin-top: 130px;

    

    margin-bottom: 30px;
    margin-left: 120px;
    font-family: 'Montserrat', sans-serif;

    font-size: 1.55vw;

    align-items: center;
}
#icons{
    height: 1.81vw;

    margin-left: 20px;
}
#icons a img{
    height: 100%;
    margin-right: 10px;
}



main{
    background-color: white;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    overflow-y: scroll;
}

#item-content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#top{
    width: 100%;
    display: flex;
    max-height: 90px;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    margin-top: 60px;
}
#search{
    width: 40%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
}
#search::placeholder {
    font-size: 15px;
    text-align: center;
}

#search-button{
    height: 30px;
    background-color:#D9D9D9 ;
    border-radius: 10px;
    border: 1px solid black;
    padding-inline: 10px;
    font-size: 20px;
    margin-left: 2px;
    display: flex;
    align-items: center;
}

.item{
    width: 33vw;
    min-height: 200px;
    background-color: #DAE5E5;
    border-radius: 20px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    align-items: center;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    cursor: pointer;
}
.item:hover{
    background-color: #cce6e6;
}

.item li{
    height: 40px;
}
ul{
    list-style: none;
}
.image{
    width: 200px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    margin-right: 20px
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}


main::-webkit-scrollbar {
    width: 10px;               
  }
  
  main::-webkit-scrollbar-track {
    background: white;        
  }
  
  main::-webkit-scrollbar-thumb {
    background-color: #8B8B8B;    
    border-radius: 20px;       
    border: 3px solid #8B8B8B;  
    
  }



.serieWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .2s;
    justify-content: center;
    align-items: center;
}
.serieWindowBody{
    position: relative;
    width:80%;
    height: 90%;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
    font-family: 'Montserrat', sans-serif;

}
.content-video{
    text-align: center;
    display: block;
}
.content-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: #dbecec;
    border-radius: 20px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
}

.tittle{
    font-size: 35px;
}
.content-description{
    margin-top: 25px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
     line-height: 22px; 
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.line{
    margin-top: 8px;
    width: 90%;
    height: 2px;
    border: 20px;
    background-color: black;
}
iframe{
    border-radius: 15px;
}





@media (max-width: 1575px){
    .item{
        font-size: 21.5px;
    }
}

@media (max-width: 1440px){

    .item{
        min-height: 150px;
        font-size: 20px;
    }
    .item li{
        height: 30px;
    }
    .image{
        width: 150px;
    }

    #left-mid{
        margin-left: 75px;
        font-size: 8vw;
        margin-top: 90px;
    }
    #left-mid span{
        font-size: 10.67vw;
    }
    footer{
        margin-left: 75px;
        margin-top: 90px;
    }
    header{
        padding-left: 89px;
    }
}
@media (max-width: 1250px){
    .item{
        font-size: 16px;
    }
}
@media(max-width:1100px){
    .item{
        font-size: 14.5px;
    }
}

@media (max-width: 1030px){
    .item{
        min-height: 100px;
        font-size: 14px;
    }
    .item li{
        height: 20px;
    }
    
    .image{
        width: 100px;
    }

    #left-mid{
        margin-left: 55px;
        font-size: 8.5vw;
        margin-top: 110px;
    }
    #left-mid span{
        font-size: 11.25vw;
    }
    footer{
        margin-left: 55px;
        margin-top: 120px;
    }
    header{
        padding-left: 69px;
    }
    #search{
        width: 55%;
    }
}
